<a href="https://colab.research.google.com/github/habibalhuda29/habib-alhuda-abdullah/blob/main/pertmuan13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def bfs(graph, start):
    visited = []
    queue = [start]

    while queue:
        node = queue.pop(0)
        if node not in visited:
            visited.append(node)
            neighbours = graph[node]
            for neighbour in neighbours:
                queue.append(neighbour)
    return visited

In [2]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
         'Wasim' : {'Imran', 'Amin'},
         'Imran' : {'Wasim', 'Faras'},
         'Faras' : {'Imran'},
         'Mike' : {'Amin'},
         'Nick' : {'Amin'}}

In [3]:
bfs(graph,'Amin')

['Amin', 'Mike', 'Nick', 'Wasim', 'Imran', 'Faras']

In [5]:
# O amin ----------
# |         |       |
# O wasim   O nick  O mike 
# | 
# O imran 
# |
# O faras
bfs(graph,'Wasim')

['Wasim', 'Amin', 'Imran', 'Mike', 'Nick', 'Faras']

In [7]:
# O faras 
# |
# O imran 
# |
# O wasim O nick O mike
# |       |      |
# O amin --------
bfs(graph,'Faras')

['Faras', 'Imran', 'Wasim', 'Amin', 'Mike', 'Nick']

In [8]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

In [9]:
bfs(graph, 'Rektor')

['Rektor',
 'Warek1',
 'Warek2',
 'Kaprodi2',
 'Kaprodi1',
 'Kaprodi3',
 'Dosen E',
 'Dosen D',
 'Dosen C',
 'Dosen B',
 'Dosen A',
 'Dosen F',
 'Dosen G']

In [10]:
def dfs(graph, start, visited=None):
  if visited is None:
    visited = set()
  visited.add(start)
  print(start)
  for next in graph[start] - visited:
    dfs(graph, next, visited)
  return visited

In [11]:
graph={ 'Amin' : {'Wasim', 'Nick', 'Mike'},
       'Wasim' : {'Imran', 'Amin'},
       'Imran' : {'Wasim','Faras'},
       'Faras' : {'Imran'},
       'Mike' : {'Amin'},
       'Nick' : {'Amin'}}

In [12]:
#O Amin -----------
#|        |       |
#O Wasim  O Nick  O Mike
#|
#O Imran
#|
#O Faras

dfs(graph, 'Amin')

Amin
Mike
Nick
Wasim
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [13]:
#O Wasim-------
#|            |
#O Imran      O Amin-----
#|            |         |
#O Faras      O Nick    O Mike
dfs(graph,'Wasim')

Wasim
Amin
Mike
Nick
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [14]:
#O Faras
#|
#O Imran
#|
#O Wasim  O Nick  O Mike
#|        |       |
#O Amin------------
dfs(graph, 'Faras')

Faras
Imran
Wasim
Amin
Mike
Nick

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [15]:
#O Nick------
#|          |
#O Amin     O Mike
#|
#O Wasim    
#|
#O Imran
#|
#O Faras

dfs(graph, 'Nick')

Nick
Amin
Mike
Wasim
Imran
Faras

{'Amin', 'Faras', 'Imran', 'Mike', 'Nick', 'Wasim'}

In [16]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

dfs(graph, 'Rektor')

Rektor
Warek1
Warek2
Kaprodi2
Dosen E
Dosen D
Kaprodi1
Dosen C
Dosen B
Dosen A
Kaprodi3
Dosen F
Dosen G

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi1',
 'Kaprodi2',
 'Kaprodi3',
 'Rektor',
 'Warek1',
 'Warek2'}